.x
{
  position: absolute;
  top:50%;
  left:50%;    transform:translate(-50%,-50%)   
}
.y
{
position: relative;
    width: 100px;
    height:80px;
    box-sizing: border-box;
    border: 7px solid #fff;
    border-radius: 5px 5px 40px 40px;
    background: none;
    overflow:hidden;    
}
.handle
{
    position:absolute;
    top:8px;
    left:95px;
    width:30px;
    height:40px;
    background:transparent;
    box-sizing: border-box;
    border:5px solid #fff;
    border-radius: 0 10px 25px 0;
}
.y::before{
    content:'';
    position: absolute;
    top:25px;
    left:-60px;
    width:200px;
    height:200px;
    background:brown;
    border-radius: 70px;
    animation:loading 5s linear infinite;
}
@keyframes loading{
    0%{
        transform: rotate(0);
    }
    100%{
        transform:rotate(360deg);
    }
} 